.container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
}

button {
    padding: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0.0);
    transition: background-color 0.5s ease;
}

button:hover {
    transition: 0.5s;
    background-color: rgb(0, 0, 0, 0.5);
    
}