.card {
    padding: 30px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(75, 72, 72, 0.75);
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.scroll-wrapper {
    overflow: hidden;
}

.topAnime {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;

    animation: scrollAnime 100s linear infinite;
    width: max-content;
}

.topAnime:hover {
    animation-play-state: paused;
}


@keyframes scrollAnime {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 20px;
}

.action-hover {
    cursor: pointer;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 180px;
    height: 13%;

    background-color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    text-align: center;
    align-content: center;

    overflow: hidden;
    margin: 0 20px;
}